.nav {
    grid-area: n;
    background-color:rgba(53, 255, 170, 1);
    padding: 20px;
}

.item a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.item a.activeLink {
    color: rgb(171, 98, 240);
}

.item{
    padding: 10px;


}